tmp/
codegen
main.cpp
src/compiler/main-cg.cell
src/external/
code.txt
tiny-code.txt
generated.cpp
a.out
cellc-cs.cpp
cellc-cs
project/prelude.txt
tiny-test
cellc.net
cellc-cs-opt-code.txt
codegen-opt-code.txt
gen-html
cellc
codegen-1
codegen-1.cpp
codegen-2
codegen-2.cpp
codegen-3.cpp
codegen.net
*.o
tests
out.txt
cellcr
src/runtime/runtime.h
gmon.out
misc/
cellcp
cellcr-*
cellc-1
cellc-2
cellc-1.cpp
cellc-2.cpp
cellc-3.cpp
